:root{
    /* color */
    --black: #000;
    --green: rgb(6, 146, 6,);
    --white: #fff;

}
/* GLOBAL CSS */
*{
    margin: 0;
    padding: 0;

}
header{
    background-color: var(--black);
    color: var(--white);

    ui{
        list-style-type: none;
    }
}
/* BODY SECTION */

/* HEADER SECTION */
header{
    background-color: var(--black);
    color: var(--white);
    padding: 15px 20px;


}

nav{
    display: flex;
    justify-content: space-between;
}nav ui{
    display: flex;
    margin: auto;
    justify-content: end;
}

nav li{
    margin-left: 20px;
}